<%= form_for(@treatment) do |f| %>
  <% if @treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

      <ul>
      <% @treatment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_of_treatment %><br>
    <%= f.text_field :date_of_treatment, class: "datepicker", value: @treatment.date_of_treatment.try(:strftime, "%d %B, %Y") %>
  </div>
  <div class="field">
    <%= f.label :client_name %><br>
    <%= f.text_field :client_name, class: "wide-input" %>
  </div>
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.text_field :venue, class: "wide-input"  %>
  </div>
  <div class="field">
    <%= f.label :consent %><br>
    <%= f.text_field :consent, class: "wide-input"  %>
  </div>
  <div class="field">
    <%= f.label :contra_indications %><br>
    <%= f.text_area :contra_indications, class: "wide-input"  %>
  </div>
  <div class="field">
    <%= f.label :assessment %><br>
    <%= f.text_area :assessment, class: "wide-input"  %>
  </div>
  <div class="field">
    <%= f.label :daily_goal %><br>
    <%= f.text_area :daily_goal, class: "wide-input"  %>
  </div>
  <div class="therapies">
    <h2>Therapies</h2>
    <span class="field">
      <%= f.check_box :aromatherapy %>
      <%= f.label :aromatherapy %><br>
    </span>
    <span class="field">
      <%= f.check_box :reflexology %>
      <%= f.label :reflexology %><br>
    </span>
    <span class="field">
      <%= f.check_box :other_therapy %>
      <%= f.label :other_therapy %><br>
    </span>
  </div>
  <div class="oils">
    <h2>Oils</h2>
    <div class="field">
      <%= f.check_box :grapeseed %>
      <%= f.label :grapeseed %><br>
    </div>
    <div class="field">
      <%= f.check_box :sweet_almond %>
      <%= f.label :sweet_almond %><br>
    </div>
    <div class="field">
      <%= f.check_box :resehip %>
      <%= f.label :resehip %><br>
    </div>
    <div class="field">
      <%= f.check_box :other_oils %>
      <%= f.label :other_oils %><br>
    </div>
  </div>
  <div class="field">
    <%= f.label :essentail_oils %><br>
    <%= f.text_field :essentail_oils, class: "wide-input"  %>
  </div>
  <div class="field">
    <%= f.label :music %><br>
    <%= f.text_field :music, class: "wide-input"  %>
  </div>
  <div class="field">
    <%= f.label :lighting %><br>
    <%= f.text_field :lighting, class: "wide-input"  %>
  </div>
  <div class="field">
    <%= f.label :outcome %><br>
    <%= f.text_field :outcome, class: "wide-input"  %>
  </div>
  <div class="actions">
    <% text = @treatment.persisted? ? "Update treatment" : "Add treatment" %>
    <%= f.submit text, class: "btn btn-primary" %>
  </div>
<% end %>

<script type="application/javascript">
  $( ".datepicker" ).pickadate( {disable: [1, 7]} );
</script>
