<div class="scaffold-nav">
  <%= link_to 'Show', @treatment, class: "btn btn-primary" %>
  <%= link_to 'Back', treatments_path, class: 'btn btn-primary' %>
</div>

<h1>Editing Treatment for <%= @treatment.client_name %></h1>

<%= render 'form' %>

<div class="scaffold-nav">
  <%= link_to 'Show', @treatment, class: "btn btn-primary" %>
  <%= link_to 'Back', treatments_path, class: 'btn btn-primary' %>
</div>
