<p id="notice"><%= notice %></p>

<% if @filter_applied %>
  <div class="scaffold-nav">
    <%= link_to 'Back to All Treatments', treatments_path, class: 'btn btn-primary' %>
  </div>
<% end %>

<h1>All Treatments</h1>

<% if @treatments.empty? %>
  <p>
    No treatments have been entered yet.
    Press the big lovely button below to get started.
  </p>
<% else %>
  <% @treatments.group_by(&:year).each do |year, year_treatments| %>
    <% year_treatments.group_by(&:week).each do |week, week_treatments| %>
      <br/>
      <label class=""> <%= week_heading year.to_i, week.to_i %></label>
      <%= render 'treatments_table', treatments: week_treatments.sort{|a,b| a.date_of_treatment <=> b.date_of_treatment}.reverse %>
      <br/>
    <% end %>
  <% end %>
<% end %>
<br>

<%= link_to 'New Treatment', new_treatment_path, class: "btn btn-primary" %>
