<!DOCTYPE html>
<html>
<head>
  <title>SensesTherapies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="app">
  <div class="banner">
    <%= image_tag 'logo.jpg', class: "banner--logo" %>
    <div class="banner--title">
      <div class="banner--title__main-title">Senses</h1>
      <div class="banner--title__sub-title">Holistic & Multisensory Therapies</div>
    </div>
    <h4 class="banner--admin-link"><%= link_to 'Admin', root_path %></h4>
  </div>
  <%= yield %>
</div>

</body>
</html>
